<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SKLeftSlideDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A40BED851F00FFDD00E40A00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A40BED9E1F00FFDE00E40A00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A40BEDA91F00FFDE00E40A00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
